body {
    background-color: #fff8fa;
    font-family: 'aktiv-grotesk';
    margin-top: 40px;
    margin-left: 40px;
}

h1 {
    font-style: italic;
    font-weight: 800;
}

main {
    width: 70%;
}
